#todo-card {
    align-items: center;
    width: 400px;
    height: 400px;
    background-color: rgb(222, 222, 168);
    border-radius: 25px;
}

h2 {
    color:grey;
    font-size: 35px;
}

#button-add {
    width: 100px;
    background-color: grey;
    color: white;
}

.list-group {
    display: flex;
    width: 300px;
    justify-content: center;
}