#todo-card {
    align-items: center;
    width: 400px;
    min-height: 100%;
    background-color: rgb(222, 222, 168);
    border-radius: 25px;
    margin-bottom: 50px;
}

#todo-container {
    min-height: 100%;
    padding-bottom: 200px;
}

h2 {
    color:grey;
    font-size: 35px;
}

#button-add {
    width: 100px;
    background-color: grey;
    color: white;
}

.list-group {
    display: flex;
    width: 300px;
    justify-content: center;
}

#del-button {
    background-color: rgb(222, 222, 168);
}