#welcome {
    height: 100vh;
}
#welcome h1 {
    padding-top: 150px;
}
h1 {
    font-size: 70px;
    color: grey;
    font-family: s;
    padding-top: 150px;
    margin-bottom: 40px;
}
#card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 350px;
    top: 60px;
    background-color: rgb(222, 222, 168);
}
#card p {
    font-size: 30px;
    color:grey;
}